@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
  margin: 0;
  background-color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.5em;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
}

.card {
  text-align: left;
  color: hsl(0, 0%, 95%);
  height: 350px;
  width: 220px;
  padding: 40px;
}

.card-heading {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
}

.Sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.SUVs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.sedans-button {
  color: hsl(31, 77%, 52%);
}

button {
  border-radius: 25px;
  padding: 12px;
  border-style: none;
  width: 120px;
  font-family: 'Lexend Deca', sans-serif;
  margin-top: 60px;
}
button:hover{
  color: hsl(0, 0%, 95%);
  background-color: inherit;
  border-style:solid;
  border-color: hsl(0, 0%, 95%);
  transition-delay: 0.15s;
}
.suv-button {
  color: hsl(184, 100%, 22%);
}

.luxury-button {
  color: hsl(179, 100%, 13%);
}
